/* comentario */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:ital,wght@0,100;0,400;1,100;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");

/*** estilos generales ***/

:root{
  --bs-breakpoint-sm: 480px;
  --bs-link-color: #56423d;
  --bs-link-hover-color: #56423d;
}

.btn-primary {
  --bs-btn-color: #fde8e9;
  --bs-btn-bg: #a8847c;
  --bs-btn-border-color: #a8847c;
  --bs-btn-hover-color: #fde8e9;
  --bs-btn-hover-bg: #916b63;
  --bs-btn-hover-border-color: #a8847c;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fde8e9;
  --bs-btn-active-bg: #a8847c;
  --bs-btn-active-border-color: #a8847c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fde8e9;
  --bs-btn-disabled-bg: #a8847c;
  --bs-btn-disabled-border-color: #a8847c;
}

/* reset estilos CSS */
* {
  margin: 0;
  padding: 0;
  
}

/*** configuracion de imagenes ***/

img {
  display: block;
  max-width: 100%; 
  
}

/* fuentes */
h1 {
  font-family: "Poppins";
  text-align: center;
}

h5 {
  font-size: medium;
}

p {
  font-family: "Inter";
}


header {
  min-height: 5px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* menu de navegacion */

.menu {
  display: flex;
  justify-content: space-between;
  
}


.navbar {
  padding: 0;
}

.navbar-collapse {
  justify-content: right;
  padding-right: 30px;
}

.container-fluid {
  background-color: #56423d;
}

.nav-link:hover {
  font-size: 1.05rem;
  
}

.formato-menu a {
  color: #fde8e9;
  border-width: none;
  border-radius: 1%;
  background-color: #56423d;
  text-decoration: none;
  padding-right: 15px;
  
}

.main-box {
  border-radius: 10px;
  width: 100%;
  background-color: #fde8e9;
  margin-top: 169px;
  padding: 20px;
}

.menu li {
  display: inline-block;
  margin: 0px 7px;
  font-size: 1rem;
  font-family: "Lora";
  padding-top: 70px;
}

.logo-menu {
  display: inline;
}

/*** Index con FLEXBOX ***/

.flex-index {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  align-items: stretch;
  gap: 20px;
}

.flex-box {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: large;
  text-align: center;
  object-fit: cover;
  border-radius: 10px;
}

.flex-box img {
  border-radius: 10px;
}
.top-left {
  background-color: #fde8e9;
    
}

.top-right {
  background-color: #a17d74ec;
  color: #fde8e9;
  
}

.middle-left {
  background-color: #a17d74ec;
  color: #fde8e9;
  
 
}

.middle-right {
  background-color: #fde8e9;

}


.grid-index {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  grid-template-areas: auto;
  padding: 50px;
}

.grid-index img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px;
  box-shadow: 1px 2px 5px 2px grey;
}



/*** Nosotros FLEX***/

.nosotros-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 15px;
  padding: 30px;
  
}

.mision-left {
  width: 500px;
}

.mision-right {
  width: 500px;
}

.vision-left {
  width: 500px; 
}

.vision-right {
  width: 500px;
}

.valores-left {
  width: 500px;
}

.valores-right {
  width: 500px;
}

/*** Desarrollos inmobiliarios***/

.galeria {
  padding: 10px;
  
}

.galeria img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 7px;
  box-shadow: 1px 2px 5px 2px grey;
}

.galeria-comercial {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:auto;
  justify-items: center;
  align-items: center;
}

.galeria-industrial {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:auto;
  justify-items: center;
  align-items: center;
}

.galeria-residencial {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:auto;
  justify-items: center;
  align-items: center;
}

.galeria-multimedia {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:auto;
  justify-items: center;
  align-items: center;
}

.galeria-info {
  padding: 8px;
}

/***  Fin desarrollos inmobiliarios ***/

/***  contacto  ***/
ol, ul {
  padding-left: 0rem;
}
.contact-left {
  background-color: #fde8e9;
  justify-content: start;
  align-items: center;  
}

.fomrulario-contacto {
  display: flex;
}

.mensaje-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.button-form {
  display: flex;
  justify-content: space-evenly;
  
}

.contact-right {
  background-color: #a17d74ec;
  color: #fde8e9;
  display: flex;
  justify-content: center;
  align-content:space-around;
  padding: 45px;
  border-radius: 5px;
}

.contact-info {
  text-align: left;
}

.contact-info ul {
  list-style-type: none;
}

.grid-contact {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-template-areas: auto;
  padding: 50px;
}

.grid-contact img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px;
  box-shadow: 1px 2px 5px 2px grey;
}

/*** fin contacto ***/
.submenu {
  display: none;
}


/***  configuracion de footer ***/

footer {
  background-color: #beb2c8;
  
}

.footer-info {
  padding: 5px 20px;  
}

.footer-info ul {
  list-style-type: none;
}

/*** Media queries ***/

/*  tablet  */
@media only screen and (max-width: 992px)
{
   /*estilos generales*/
    .flex-box {
      width: 360px;
    }
    
     /*index*/
    .grid-index {
      grid-template-columns: repeat(2,1fr);
    }
    .grid-index img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      border-radius: 10px;
      box-shadow: 1px 2px 5px 2px grey;
    }
    /*galeria*/
    .galeria-comercial {
      grid-template-columns: repeat(2,1fr);
      
    }

    .galeria-industrial {
      grid-template-columns: repeat(2,1fr);

    }

    .galeria-residencial {
      grid-template-columns: repeat(2,1fr);
    }

    /*contacto*/
    .grid-contact {
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(1,1fr);
    }
}




/*  mobile  */
@media only screen and  (max-width: 480px)
{
  /*estilos generales*/
  header img {
    width: 65%;
  }
  .main-box {
    margin-top: 114px;
  }
  /*index*/
  .grid-index {
    display: flex;
    flex-direction: column;
  }

  .grid-contact {
    display: flex;
    flex-direction: column;
  }

  /*nosotros*/
  .vision-left {
   background-color: #a8847c;
   color:#fde8e9;
  }
  /*proyectos*/

  /*galeria*/
  .galeria-picture img {
    width: 100%;
  }

  .galeria-comercial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .galeria-comercial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .galeria-industrial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .galeria-residencial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /*contacto*/



}
