/*** Inicio Proyectos ***/

.diseno {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}
.planificacion {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}
.construcciones {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}
.control-calidad {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}