/*** Desarrollos inmobiliarios***/
.galeria {
    padding: 10px;
  }
  
  .galeria img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 7px;
    @include box-shadow;
  }
  
  .galeria-comercial {
    @include display-grid;
  }
  
  .galeria-industrial {
    @include display-grid;
    }
  
  .galeria-residencial {
    @include display-grid;
    }
  
  .galeria-multimedia {
    @include display-grid;
    }
  
  .galeria-info {
    padding: 8px;
  }
  
  /***  Fin desarrollos inmobiliarios ***/
  