/*** Index con FLEXBOX ***/
.index-title {
    height: 10dvh;
  }
  
  .flex-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 20px;
  }
  
  .flex-box {
    width: 460px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: large;
    text-align: center;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .flex-box img {
    border-radius: 10px;
  }
  
  .top-left {
    background-color: #fde8e9;
    border-radius: 10px;
    @include box-shadow;
    overflow: hidden;
    transition: 1s;
    &:hover{
      transform: scale(1.1);
    }
  }
  
  .top-right {
    background-image: linear-gradient(to right, $box-gradient);
    color: #fde8e9;
    border-radius: 10px;
    @include box-shadow;
  }
  
  .middle-left {
    background-image: linear-gradient(to left, $box-gradient);
    color: #fde8e9;
    border-radius: 10px;
    @include box-shadow;
  }
  
  .middle-right {
    background-color: #fde8e9;
    border-radius: 10px;
    box-shadow: 1px 2px 5px 2px grey;
    overflow: hidden;
    transition: 1s;
    &:hover{
      transform: scale(1.1);
    }
  }
  
  /***  Index pilares ***/
  .index-pilares {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    height: 33dvh;
    background-color: rgba(228, 202, 212, 0.937254902);
    padding: 50px;
    margin-top: 40px;
    border-radius: 7px;
  }
  
  .index-pilares img {
    width: 40%;
    height: auto;
  }
  
  .columna-pilares {
    display: flex;
    flex-direction: column;
  }
  
  .pilar1 {
    @include flex-pilar;
  }
  
  .pilar2 {
    @include flex-pilar;
  }
  
  .pilar3 {
    @include flex-pilar;
  }
  
  /*** grid imagenes ***/
  .grid-index {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: auto;
    padding: 50px;
  }
  
  .grid-index img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    @include box-shadow;
    overflow: hidden;
    transition: 1s;
    &:hover{
      transform: scale(1.1);
    }
  }
  